

h1 {
text-decoration:underline overline;
font-family:Algerian;
}


p24 {
border-left:solid red 20px;
border-top:solid red 20px;
border-bottom:solid red 20px;
border-right:solid red 20px;
cursor:pointer;
}